@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    html,
    body {
        @apply bg-gray-50 text-gray-900 antialiased w-full h-full;
        overscroll-behavior: none;
        /* Prevents rubber-banding at document level */
    }

    #root {
        @apply fixed inset-0 w-full overflow-hidden isolate;
        height: 100dvh;
        /* Dynamic Viewport Height for mobile browsers */
    }
}

@layer utilities {
    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }

    .min-h-safe {
        min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    }
}