@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 antialiased;
    }
}

@layer utilities {
    .pt-safe {
        padding-top: env(safe-area-inset-top);
    }

    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }

    .min-h-safe {
        min-height: calc(100vh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    }
}