@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
}

@layer base {

    html,
    body {
        @apply bg-gray-50 text-gray-900 antialiased w-full h-full;
        overscroll-behavior: none;
        /* Prevents rubber-banding at document level */
    }

    #root {
        @apply fixed inset-0 w-full overflow-hidden isolate;
        height: 100dvh;
        /* Dynamic Viewport Height for mobile browsers */
    }
}

@layer utilities {
    .pt-safe {
        padding-top: var(--safe-area-inset-top);
    }

    .pb-safe {
        padding-bottom: var(--safe-area-inset-bottom);
    }

    .min-h-safe {
        min-height: calc(100vh - var(--safe-area-inset-top));
    }
}